<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Detalhes da Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label text-wrap>
      <h3>Chave Nota Fiscal</h3>
      <p>{{nota.chavenotafiscal}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Conhecimento</h3>
      <p>{{nota.conhecimento}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Destinatário</h3>
      <p>{{nota.destinatario}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Destinatário Nome Oficial</h3>
      <p>{{nota.destinatarionomeoficial}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Data Emissão</h3>
      <p>{{nota.dthremissao}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Data Emissão Manifesto</h3>
      <p>{{nota.dthremissaomanifesto}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Data Entrega</h3>
      <p>{{nota.dthrentrega}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Endereço Destino</h3>
      <p>{{nota.enderecodestino}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Início de Rota</h3>
      <p>{{nota.inicioderota}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Nota Fiscal</h3>
      <p>{{nota.notafiscal}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Previsão Entrega</h3>
      <p>{{nota.previsaoentrega}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Remetente Nome Oficial</h3>
      <p>{{nota.remetentenomeoficial}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Romaneio</h3>
      <p>{{nota.romaneio}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Série</h3>
      <p>{{nota.serie}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Sigla</h3>
      <p>{{nota.sigla}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <h3>Situação</h3>
      <p>{{nota.situacao}}</p>
    </ion-label>
  </ion-item>
</ion-content>